section{
    display: flex;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;

}

h1{
    font-size: 40px;
}

p{
    font-weight: 200;
}
.orange{
    color: orange;
}

.half-width{
    width: 50%;
    padding: 5% 5% 5%;
    padding-right: 0%;
      
     
}
.half-width img{
    width:80%
}
.half-width2{
    width: 30%;
    padding-left: 15%;
    padding-right: 5%;

}

.button{
    color:black;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 115, 0), orange);
    padding: 10px 30px;
    border-radius: 10px;

}
p{
    width: 300px;
}

.about-me{
    padding-right: 20%;
    background-image: url(images/shapes/Frame\ 58.jpg);
    
}

 

.first-text-allign{
    margin-top: 8%;
}

.recipies{
    margin-top: 30px;
    padding-left: 40%; 
}

.my-div{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 1200px;
 
}

.my-div p{
    

}

.my-div img{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
 
.followers{
    padding-top: 500px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 200px;
    margin-bottom: 30px;

}

#st{
    margin-left: 60px;

}
.last-part{
    text-align: center;
    display: grid;
    place-items: center;
    background-color: rgb(2, 11, 37);
    color: rgb(167, 167, 167);
    font-family: sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

.last-part h1{
    font-size: 20px;
}

.last-part p{
    font-size: 15px;
}